<h2 mat-dialog-title class="example-item">MARKER SETTINGS </h2>

<mat-drawer-container class="example-container-1">
    <mat-form-field appearance="fill">
        <mat-label>Choose team</mat-label>
        <mat-select>
            <mat-option value="option1">Team 1</mat-option>
            <mat-option value="option2">Team 2</mat-option>
            <mat-option value="option3">Team 3</mat-option>
        </mat-select>
    </mat-form-field>

</mat-drawer-container>

<mat-dialog-actions class="example-item-1">
    <button mat-raised-button color="primary" (click)="close()"><mat-icon>exposure_plus_1</mat-icon></button>
    <button mat-raised-button color="warn" (click)="close()"><mat-icon>exposure_neg_1</mat-icon></button>
</mat-dialog-actions>