<h2 mat-dialog-title class="example-item-1">
    <mat-icon>sports_soccer</mat-icon>
    CHOOSE WINNER
    <mat-icon>sports_soccer</mat-icon>
</h2>

<mat-dialog-actions class="example-item-1">
    <button mat-raised-button color="primary" (click)="close()">
        FC BARCELONA <mat-icon class="icon-2">thumb_up</mat-icon>

    </button>
    <button mat-raised-button color="warn" (click)="close()">
        INTER DE MILAN <mat-icon class="icon-2">thumb_up</mat-icon>
    </button>
</mat-dialog-actions>