<mat-tab-group animationDuration="0ms" style="min-height: 600px">
    <mat-tab label="PARTIDOS" class="" [disabled]="tab2">
        <br>
        <mat-grid-list cols="7" rowHeight="2:3" class="">

            <mat-grid-tile class="comp-a image-center" colspan="2">
                <mat-card class="example-card comp-a">
                    <img width="40" alt="Angular Logo" src="../assets/images/ninguno.png" />
                    <mat-card-content class="comp-e">
                        <button mat-button (click)="openDialog()" color="basic" class="comp-j">
                            NINGUNA SELECCIÓN
                        </button>
                    </mat-card-content>

                </mat-card>

            </mat-grid-tile>
            <mat-grid-tile class="comp-a comp-b">{{mMarker1}}</mat-grid-tile>
            <mat-grid-tile class="comp-a comp-b">-</mat-grid-tile>
            <mat-grid-tile class="comp-a comp-b">{{mMarker2}}</mat-grid-tile>
            <mat-grid-tile class="comp-a image-center" colspan="2">
                <mat-card class="example-card comp-a">

                    <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                    />
                    <mat-card-content class="comp-e">
                        <button mat-button (click)="openWinner()" color="basic" class="comp-j">
                            INTER DE MILAN
                        </button>
                    </mat-card-content>

                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="3" rowHeight="3:1">
            <mat-grid-tile class="comp-a">
            </mat-grid-tile>
            <mat-grid-tile class="comp-a comp-c">
                <span #timer>00:00</span>
            </mat-grid-tile>
            <mat-grid-tile class="comp-a">
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="3" rowHeight="3:1" class="">
            <mat-grid-tile class="comp-a">
                <button mat-mini-fab color="basic" (click)="startCountdown()" [disabled]="start" aria-label="Example icon button with a filter list icon">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile class="comp-a">
                <button mat-mini-fab color="basic" [disabled]="pause" aria-label="Example icon button with a filter list icon">
                    <mat-icon>pause</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile class="comp-a">
                <button mat-mini-fab color="warn" [disabled]="stop" aria-label="Example icon button with a filter list icon">
                    <mat-icon>stop</mat-icon>
                </button>

            </mat-grid-tile>
        </mat-grid-list>
        <br> <br>

        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile class="comp-a">
                <table mat-table id="table1" [dataSource]="dataSource1" class="mat-elevation-z8 comp-a comp-d" width="90%">
                    <ng-container matColumnDef="logo">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h">
                            <img width="16" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.team}} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.points}} </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </mat-grid-tile>

            <mat-grid-tile class="comp-a">
                <table mat-table id="table1" [dataSource]="dataSource1" class="mat-elevation-z8 comp-a comp-d" width="90%">
                    <ng-container matColumnDef="logo">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.logo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.team}} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.points}} </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </mat-grid-tile>

            <mat-grid-tile class="comp-a">
                <table mat-table id="table1" [dataSource]="dataSource1" class="mat-elevation-z8 comp-a comp-d" width="90%">
                    <ng-container matColumnDef="logo">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.logo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.team}} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.points}} </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </mat-grid-tile>

            <mat-grid-tile class="comp-a">
                <table mat-table id="table1" [dataSource]="dataSource1" class="mat-elevation-z8 comp-a comp-d" width="90%">
                    <ng-container matColumnDef="logo">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.logo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.team}} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.points}} </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </mat-grid-tile>


            <mat-grid-tile class="comp-a">
                <table mat-table id="table1" [dataSource]="dataSource1" class="mat-elevation-z8 comp-a comp-d" width="90%">
                    <ng-container matColumnDef="logo">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.logo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="team">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.team}} </td>
                    </ng-container>

                    <ng-container matColumnDef="points">
                        <td mat-cell *matCellDef="let element" class="comp-g comp-h"> {{element.points}} </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </mat-grid-tile>




        </mat-grid-list>


    </mat-tab>
    <mat-tab label="POSICIONES" [disabled]="tab3">


        <mat-drawer-container class="example-container">
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-15'"> CLUB </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="'w-15'"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="shield">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-15 example-item'"> </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="'w-15'"> {{element.shield}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-25 example-item'"> </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="'w-25'"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="pg">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-15 example-item'"> PG </th>
                    <td mat-cell *matCellDef="let element" class="example-item" [ngClass]="'w-15'">
                        {{element.pg}} </td>
                </ng-container>

                <ng-container matColumnDef="g">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-15 example-item'"> G </th>
                    <td mat-cell *matCellDef="let element" class="example-item" [ngClass]="'w-15'">
                        {{element.g}} </td>
                </ng-container>

                <ng-container matColumnDef="pts">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-15 example-item'"> PTS </th>
                    <td mat-cell *matCellDef="let element" class="example-item" [ngClass]="'w-15'">
                        {{element.pts}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </mat-drawer-container>

    </mat-tab>
    <mat-tab label="CONFIGURACIÓN" [disabled]="tab4">
        <mat-drawer-container class="example-container-1">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Minutos por periodo</mat-label>
                                <input matInput #input1 value="{{mData1}}">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <mat-card class="result">
                    <mat-card-content>
                        <section class="example-section">
                            <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                                Choose winner automatically!
                            </mat-slide-toggle>
                        </section>
                    </mat-card-content>
                </mat-card>
            </form>
        </mat-drawer-container>
    </mat-tab>
</mat-tab-group>