.comp-a {
    background-color: transparent;
}

.comp-b {
    font-size: 32px;
    color: #eee;
    font-weight: bold;
}

.comp-c {
    background-color: transparent;
    font-size: 28px;
    color: #eee;
    font-weight: bold;
    border: #e6ebf1 solid 1px;
}

.comp-d {
    border: #e6ebf1 solid 1px;
}

.example-button-row {
    display: table-cell;
    width: 100px;
}

.sports_soccer {
    color: #fff;
    font-size: 32px;
}

.example-card {
    max-width: 150px;
    text-align: center;
}

.comp-e {
    color: #fff;
    font-size: 11px;
}

.comp-f {
    color: #e6ebf1;
}

.comp-g {
    color: #333;
}

.comp-h {
    background-color: #e6ebf1;
    opacity: 0.7;
}

.comp-j {
    font-size: 12px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.example-item {
    text-align: center;
}

.example-container-1 {
    padding: 10px;
}

.example-button-container {
    padding: 10px;
}

.w-25 {
    width: 25%;
}

.w-15 {
    width: 15%;
}

.w-55 {
    width: 45%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    height: 100%;
    padding-bottom: 5px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.example-item-1 {
    text-align: center;
    justify-content: center;
}

.example-spacer {
    flex: 1 1 auto;
}